<link rel="stylesheet" href="/css/footer.css" />

<footer class="text-white pt-5 pb-3" style="background-color: #e17758">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-12 col-sm-6 col-md-2 mb-4">
        <h5 class="fw-bold">About</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none">Our Story</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Contact</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Careers</a>
          </li>
        </ul>
      </div>

      <!-- Support -->
      <div class="col-12 col-sm-6 col-md-2 mb-4">
        <h5 class="fw-bold">Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none">Help Center</a>
          </li>
          <li><a href="#" class="text-white text-decoration-none">FAQs</a></li>
          <li>
            <a href="#" class="text-white text-decoration-none"
              >Accessibility</a
            >
          </li>
        </ul>
      </div>

      <!-- Courses -->
      <div class="col-12 col-sm-6 col-md-2 mb-4">
        <h5 class="fw-bold">Courses</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none">Programming</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Design</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">Business</a>
          </li>
        </ul>
      </div>

      <!-- Stay Connected -->
      <div class="col-12 col-md-5 mb-4">
        <h5 class="fw-bold">Stay Connected With Us!</h5>
        <form class="d-flex flex-column flex-sm-row gap-2 mt-2">
          <input
            type="email"
            class="form-control flex-grow-5"
            placeholder="Your email"
            required
          />
          <button type="submit" class="btn btn-dark fw-bold">Subscribe</button>
        </form>
      </div>
    </div>

    <!-- Footer Bottom -->
    <hr class="border-white my-4" />
    <div class="text-center small">
      © 2025 <strong>LevelUp, Inc.</strong> All rights reserved.
    </div>
  </div>
</footer>
