    body { background-color: #f9fafb; }


    /* institution tutor details */
    .fieldTag {
      background-color: #e6fbfd;
      color: #000;
      padding: 0.5rem 1rem;
      border-radius: 50px;
      font-size: 0.90rem;
      font-weight: 400;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
    }


    /* institution tutor */
    .teaching-tag {
      background-color: #fdd; 
      color: #c44; 
      font-size: 0.75rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;
      display: inline-block;
    }



.btn-light:hover {
  background-color: #f1f1f1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #f8f9fa;
  font-weight: 500;
}
.list-group-item:hover {
  background-color: #f8f9fa;
  transition: background-color 0.2s ease;
}

.btn-outline-danger:hover {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}

.btn-outline-primary:hover {
  background-color: #dbeafe;
  border-color: #91caff;
  color: #0d6efd;
}

.bg-white {
  background-color: #fff !important;
}

.rounded-4 {
  border-radius: 1rem !important;
}

.shadow-sm {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
}

.object-fit-cover {
  object-fit: cover;
}

.fs-6 {
  font-size: 1rem;
}